/* .carousel .carousel-item {
    height: 200px;

}
.carousel-item {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
} */

/*  
.carousel {
  max-width: 400px;
  margin: 40px auto;    
}

.carousel-item img {
  width: 800px;
  height: 300px;
  object-fit: cover;
  border-radius: 8px; 
  position:relative;  
    top: 0;
    left: 0;
}  */

.carousel {
  max-width: 1000px; /* Aumenta o limite de largura */
  margin: 40px auto; /* Continua centralizado */
}

.carousel-item img {
  width: 100%;        /* Ajusta a imagem à nova largura */
  height: 400px;
  object-fit: cover;
  border-radius: 8px;
}
